body {
  background: #7289da;
  color: #fff;
  font-family: 'Tw Cen Mt';
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

/* ---------- NAVBAR ---------- */
.navbar {
  background: transparent;
  border: none; }
  .navbar .navbar-nav li a {
    color: #ccd5f2;
    font-weight: bolder;
    font-size: 14px;
    padding: 20px 20px 15px 0;
    -webkit-transition: opacity .2s;
    font-family: inherit;
    font-style: inherit; }
    .navbar .navbar-nav li a:hover {
      color: #fff; }
  .navbar .navbar-right li a {
    font-weight: 400;
    font-size: 16px; }
    .navbar .navbar-right li a img {
      opacity: 0.8; }

#login {
  border: 2px solid #ccd5f2;
  padding: 4px 10px;
  border-radius: 20px; }

/* ---------- END NAVBAR ---------- */
/* ---------- MAIN SECTION ---------- */
.landingHero {
  display: flex;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  padding-bottom: 72px; }
  .landingHero .gridContent {
    max-width: 1000px;
    padding: 72px 50px 15px;
    margin: auto;
    text-align: center; }
    .landingHero .gridContent .themeHeader {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px; }
    .landingHero .gridContent .blurb {
      color: #ccd5f2;
      max-width: 780px;
      font-size: 15px;
      font-weight: 500;
      margin-top: 15px;
      margin-bottom: 60px; }
  .landingHero .gridContentFull {
    max-width: 100%; }

.buttons .mainButton {
  color: #7289da;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 30px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  top: -1px;
  position: relative; }
  .buttons .mainButton:hover {
    box-shadow: none;
    top: 0; }

.buttons #downloadForWindow {
  margin-right: 20px; }
  .buttons #downloadForWindow #download {
    padding: 0 20px; }

.buttons #openDiscordInYourBrowser {
  margin-left: 20px; }

.gridContentFull {
  max-width: 100%;
  width: 100%;
  padding: 0; }
  .gridContentFull .imagesInner {
    position: relative;
    height: 638px;
    overflow: hidden;
    /* ---------- Images 2 ----------- */ }
    .gridContentFull .imagesInner .shadow {
      background-color: rgba(0, 0, 0, 0.1);
      height: 50px;
      width: 1300px;
      border-radius: 50px;
      bottom: 0;
      position: absolute;
      left: calc(50% - 650px); }
    .gridContentFull .imagesInner .SVGBottom {
      position: absolute;
      bottom: 10px;
      cursor: pointer; }
    .gridContentFull .imagesInner .balon {
      z-index: 1;
      left: calc(50% - 609px); }
    .gridContentFull .imagesInner .mobile {
      z-index: 2;
      left: calc(50% - 548px); }
    .gridContentFull .imagesInner .mobile1 {
      z-index: 2;
      left: calc(50% - 400px); }
    .gridContentFull .imagesInner .desktop {
      left: calc(50% - 289px); }
    .gridContentFull .imagesInner .dzoistik {
      left: calc(50% - 255px); }
    .gridContentFull .imagesInner .laptop {
      left: calc(50% - 4px);
      z-index: 2; }
    .gridContentFull .imagesInner .disc1 {
      left: calc(50% + 423px); }
    .gridContentFull .imagesInner .slusalice {
      left: calc(50% + 290px);
      z-index: 2;
      position: absolute;
      bottom: 115px;
      cursor: pointer; }
    .gridContentFull .imagesInner .znak {
      left: calc(50% - 235px);
      position: absolute;
      bottom: 462px;
      cursor: pointer;
      z-index: -1; }
    .gridContentFull .imagesInner .disc {
      left: calc(50% + 250px);
      position: absolute;
      bottom: 396px;
      cursor: pointer;
      z-index: -1;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 2s infinite  alternate; }
    .gridContentFull .imagesInner .balon1 {
      left: calc(50% - 480px);
      position: absolute;
      bottom: 335px;
      cursor: pointer;
      z-index: -1;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 2s infinite  alternate;
      animation-delay: 2.5s; }
    .gridContentFull .imagesInner .zfe {
      left: calc(50% - 428px);
      position: absolute;
      bottom: 300px;
      cursor: pointer;
      z-index: -1;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 2s infinite  alternate; }
    .gridContentFull .imagesInner .zfe1 {
      left: calc(50% + 80px);
      position: absolute;
      bottom: 530px;
      cursor: pointer;
      z-index: -1;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 2s infinite  alternate; }
    .gridContentFull .imagesInner .SVGImage2 {
      position: absolute;
      cursor: pointer;
      opacity: .4; }
    .gridContentFull .imagesInner .svgX {
      bottom: 500px;
      left: calc(50% - 580px); }
    .gridContentFull .imagesInner .svgO {
      bottom: 530px;
      left: calc(50% - 370px); }
    .gridContentFull .imagesInner .svgDot1 {
      bottom: 600px;
      left: calc(50% - 380px); }
    .gridContentFull .imagesInner .triangle {
      bottom: 540px;
      left: calc(50% + 20px); }
    .gridContentFull .imagesInner .svgDot2 {
      bottom: 500px;
      left: calc(50% + 180px); }
    .gridContentFull .imagesInner .quadrate {
      bottom: 600px;
      left: calc(50% + 360px); }

@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }

.learnMore {
  display: flex;
  justify-content: center; }
  .learnMore .learnMoreCallout {
    background-color: #7289da;
    padding: 16px;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 60px;
    text-decoration: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    top: -1px;
    position: relative; }
    .learnMore .learnMoreCallout:hover {
      box-shadow: none;
      top: 0; }

/* ---------- FOOTER ---------- */
footer {
  width: 100%;
  padding: 80px 160px 48px; }
  footer .footerContent {
    max-width: 1600px;
    margin: 0 auto;
    position: relative; }
    footer .footerContent .navigation {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px; }
      footer .footerContent .navigation .navigationSection {
        flex-direction: column;
        display: flex; }
        footer .footerContent .navigation .navigationSection h3 {
          font-size: 14px; }
        footer .footerContent .navigation .navigationSection a {
          font-size: 14px;
          color: #ccd5f2;
          text-decoration: none; }
          footer .footerContent .navigation .navigationSection a:hover {
            color: #fff; }

.logoWrap {
  width: 36px;
  height: 36px; }

.joinDiscord {
  display: flex; }
  .joinDiscord .stats {
    flex: 1; }
    .joinDiscord .stats h2 {
      font-size: 26px; }
    .joinDiscord .stats h3 {
      font-size: 12px;
      color: #ccd5f2; }
  .joinDiscord .signUpNow {
    background-color: #fff;
    height: 50px;
    padding: 16px;
    border-radius: 3px;
    text-decoration: none;
    color: #7289da;
    top: 2px;
    position: relative; }
    .joinDiscord .signUpNow:hover {
      box-shadow: none;
      box-shadow: -5px 0px 10px 1px rgba(0, 0, 0, 0.2);
      top: 0px; }

@media only screen and (min-width: 480px) and (max-width: 850px) {
  .tabletHide {
    display: none; }
  .mobile {
    left: calc(50% - 340px) !important;
    bottom: 210px !important; }
  .mobile1 {
    left: calc(50% - 175px) !important;
    bottom: 210px !important; }
  .laptop {
    left: calc(50% - 70px) !important;
    bottom: 210px !important; }
  .slusalice {
    bottom: 315px !important; }
  .shadow {
    bottom: 190px !important; } }
